{% extends 'layout-admin.html' %}

 {% block body %}
 <div class="jumbotron jumbotron-fluid">
  <h1 class="display-4" align="center"><span class="label label-info">Mano profilis</span></h1>
  <hr class="my-4">

  
  {% from "includes/_formhelpers.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{render_field(form.company_name, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.email, class_="form-control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Atnaujinti informaciją"></p>
      </form>
	  <h5><a href="/admin/profile/password"> <font color="#000000" ><b><u>Norite pakeisti slaptažodį?</b></u></font></a></h5>
</div>
{% endblock %} 
