{% extends 'layout.html' %}

 {% block body %}
 <div class="jumbotron">
  <h2 class="display-4" align="center">Pagrindinis</h1>
  <hr class="my-4">
  <div class="btn-toolbar"  role="toolbar" aria-label="Toolbar with button groups" align="center" >
    <div class="container">
      <div class="row" align="center">
        <div class="col">
          <div class="btn-group mr-2" role="group" aria-label="First group">
          </div>
        </div>
        <div class="col">
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a href="/my/results" class="btn btn-warning btn-lg">Rezultatai</a>
          </div>
        </div>
        <div class="col">
          <div class="btn-group" role="group" aria-label="Third group">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
 
{% endblock %} 
